@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mukta:wght@200;300;400&family=Poppins:wght@100;200;300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@200;300;400;500;600;700&display=swap');

.users-container {
    display: flex;
    gap: 20px;
    justify-content: center;
    flex-wrap: wrap;
}

.App {
    background-size: cover;
    background-position-x: center;
    margin-left: auto;
    margin-right: auto;
    margin: auto;
    justify-content: center;
    align-items: center;
}

.form-container {
    background-color: rgba(133, 170, 226, 0.507);
    width: 100%;
    min-height: 100vh;
    backdrop-filter: blur(2px);
    position: fixed;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 20px;
    padding-right: 20px;
    z-index: 1;
}

.disable_form {
    display: none;
}

.App_container-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
    padding: 20px;
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
}

.App_btn {
    width: 100%;
    max-width: 200px;
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
    text-shadow: 0.1rem 0.1rem black;
    padding: 10px;
    border-radius: 6px;
    border: 2px solid rgb(166, 212, 255);
    background-color: rgb(0, 83, 131);
    color: rgb(255, 245, 240);
    margin-top: 15px;
    cursor: pointer;
    transition: filter 100 ms ease;
    transition: transform 150ms ease, box-shadow 150ms ease;
}

.App_btn:hover {
    transform: scale(1.1);
    box-shadow: 0 0 10px #0005;
    background-color: rgb(20, 101, 116);
    transition: transform 150ms ease, box-shadow 150ms ease;
}

.App_title {
    display: flex;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: bolder;
    text-shadow: 0.2rem 0.2rem 0.2rem rgb(32, 32, 32);
    color: rgb(255, 168, 117);
    font-size: 45px;
    justify-content: center;
    align-items: center;
}